.container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchBar {
    width: 40vw;
    height: 40px;
    border-radius: 50px 50px 50px 50px;
    border: none;
    background-color: RGB(59, 59, 59);
    padding: 1em;
    transition: 0.25s;
    color: white;
    position: relative;
    left: 0;
}

.searchBar:hover {
    background-color: white;
    color: RGB(59, 59, 59);
}

.label {
    position: absolute;
    left: 4%;
    bottom: 20%;
    font-size: 0.97em;
    color: white;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    transform: translateY(-2em) scale(0.7);
    color: white;
}

.button {
    position: absolute;
    right: 0;
    color: RGB(59, 59, 59);
    height: 40px;
    top: -1px;
    padding-right: 1em;
    /* border: 1px solid; */
    border: none;
    border-radius: 0 50px 50px 0px;
    background-color: transparent;
    font-family: "Poppins";
    /* position: absolute; */
    /* transform: translate(-50%, -165%); */
}

.button:hover {
    cursor: pointer;
    color: white;
}

.button:active,
.button:focus {
    outline: none;
}
.searchBar:focus {
    outline: none;
}
