body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
    text-decoration: none;
    list-style: none;
    /* border: 0.5px red solid; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: #ffffff;
}

a {
    color: black;
}
