.mainContainer {
    /* width: 20vw; */
}

.cardContainer {
    position: relative;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: 2px solid black;
    margin: 10px;
}

img {
    width: 100%;
    max-width: 200px;
}
.genreContainer {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.genresList {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
}

/* .gameGenres {
    display: flex;
    justify-content: space-evenly;
} */
