.pag {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
    top: -30px;
    position: absolute;
}

.pag button {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 10px;
}

.pag button:hover {
    cursor: pointer;
}
