/* nav {
    display: flex;
    align-items: center;
} */

/* span {
    color: white;
} */

/* .navbar {
    margin-top: 20px;
    z-index: 9;
} */

/* .searchBar {
    width: 100%;
} */

.navbar {
    position: relative;
    width: 100%;
}

.inputContainer {
    display: flex;
    justify-content: space-evenly;
}

/* form {
    position: relative;
    width: 50vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
} */

.searchBar {
    width: 50vw;
    height: 40px;
    border-radius: 999px;
    border: none;
}
