.mainContainer {
    width: 100%;
    height: 100vh;
    /* background: red; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: auto;
    height: 100%;
    /* background: blue; */
}

.infoContainer {
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: green; */
    gap: 5%;
}

.gifContainer {
    display: flex;
    margin: auto;
    position: relative;
    width: max-content;
    /* height: 20%; */
    /* background: pink; */
}

.gifContainer > img {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;
    /* height: 50vh; */
    /* background-color: red; */
}

.h2Container {
    position: relative;
    width: max-content;
    /* background: black; */
}

.buttonContainer {
    display: flex;
    justify-content: center;
    /* background: orange; */
    position: relative;
    height: max-content;
    width: 100%;
}

.boton2 {
    color: #fff;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}
.boton2 span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.boton2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 2px solid rgb(255, 0, 64, 0.2);
    background-color: rgb(255, 0, 64);
}
.boton2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 2px solid rgb(255, 0, 64, 0.2);
    background-color: rgb(255, 0, 64);
}
